
<h1>Angular 7/Flexmonster</h1>


<fm-pivot
  [componentFolder]="'https://cdn.flexmonster.com/'"
  [toolbar]="true"
  [width]="800"
  [height]="450"
  [report]="pivotReport"
  [customizeCell]="onCustomizeCell"
  [licenseKey]="'Z787-XHJ68O-0S701F-6I6F5L-5T0G4H-1F4Q2F-6B4D6M-3E524L-2J112O-096X2G'"
  (ready)="onPivotReady($event)"
  (reportcomplete)="onReportComplete($event)"
>
</fm-pivot>


<h2 style="padding-left:300px;">Googlechart Container</h2>
<div style="height:400px;" id="googlechart-container-1"></div>

